/* ----------------------------------- adjust table 2.1 : EPC conversion--------------------------------------*/

table.caption-top.table {
  margin-top: 0.5rem;
  /* margin-bottom: 2.5rem; */
}

.table_comment {
  margin-bottom: 2.5rem;
  font-size: smaller;
  font-style: italic;
}

/* General table styles */
table.table {
  width: 75%; /* Adjusts the table to be 100% width of its parent */
  height: 100px; /* Set a fixed height for the table */
  margin: 20px auto; /* Center the table */
  border-radius: 2rem;
  overflow: hidden; /* Hide the overflown corners when using border radius */
  border-top: transparent;
  border-bottom: transparent;
  background-color: rgba(119, 136, 153, 0.1);
}

tbody tr {
  /* height: 15px; Set a fixed height for each row */
  vertical-align: middle;
  font-size: 16px; /* Set the font size for the entire table */
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.25);
}
tbody tr:nth-child(odd) {
  background-color: rgba(119, 136, 153, 0.2);
}
