.paratext .paratext_quote .tiny_quote {
  margin: auto;
  width: 60%;
  text-align: justify;
}

/* ---------------------- summary statistics table EPC data */

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  /* border-color: black;
  border-style: solid;
  border-width: 1px; */
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
/* .tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
} */

.tg .table_header .bordered-text {
  display: inline-block; /* Ensures the border wraps tightly around the text */
  border: 0.5px solid black; /* Black border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px 5px; /* left/right bottom/top */
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  /* text-decoration: underline dotted; */
  text-align: center;
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}
.tg .tg-jejc {
  border-color: inherit;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}
.tg .tg-fymr {
  border-color: inherit;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.tg .tg-7btt {
  border-color: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg .tg-6ic8 {
  border-color: inherit;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}
.tg .tg-dvpl {
  border-color: inherit;
  text-align: right;
  vertical-align: top;
}
.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

.tg .col_name {
  font-weight: bold;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.tg .var_name {
  font-weight: bolder;
}

.tg .tg-dvpl.dash_line {
  border-top-color: black;
  border-top-style: dotted;
  border-top-width: 1px;
}

/* ------------------------------ table training_data */
.border_table_training {
  display: flex;
  justify-content: center; /* Center the table horizontally */
  border: 1px solid black;
  border-radius: 1rem;
  overflow: auto;
  width: 50%; /* Set the desired width for the border container */
  margin: 0 auto; /* Center the border container within its parent */
}

.training_data {
  border-collapse: collapse; /* Merge borders for a cleaner look */
  width: 85%; /*Fixed width for the table */
  max-width: 45rem; /* Prevent the table from exceeding the container width */
  border-top: 0px solid #ebedee; /* remove the defult setting of border top  */
}

.training_data th {
  border-bottom: 1px solid black;
}

.training_data th,
.training_data td {
  border: 0px solid #ddd; /* Add border to cells */
  padding: 8px; /* Add padding for spacing */
  text-align: center; /* Center text in cells */
}

/* Adjust column widths */
.training_data th:nth-child(1),
.training_data td:nth-child(1) {
  width: 65%; /* Set width for the first column */
}

.training_data th:nth-child(2),
.training_data td:nth-child(2) {
  width: 10%; /* Set width for the second column */
}

.training_data th:nth-child(3),
.training_data td:nth-child(3) {
  width: 10%; /* Set width for the third column */
}

/* ----------------------------- Table Text classification main models results */

.border_table {
  border: 1px solid black;
  border-radius: 1rem;
  overflow: auto;
}

.tg-textclassification {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 0px solid #ebedee; /* remove the defult setting of border top  */
  padding-left: 5px;
  padding-right: 5px;
}
.tg-textclassification td {
  /* border-color: black;
  border-style: solid;
  border-width: 1px; */
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg-textclassification th {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg-textclassification .tg-1wig {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.tg-textclassification .tg-baqh {
  text-align: center;
  vertical-align: top;
}
.tg-textclassification .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}
