/* edit the author and date positioning */
.quarto-title-meta {
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* Ensures the element's width fits its content */
}
.quarto-title-meta > *:first-child {
  margin-right: 5rem; /* Removes extra space after the last item */
}
.quarto-title-meta > *:last-child {
  margin-left: 5rem; /* Removes extra space after the last item */
}

.quarto-title {
  text-align: center;
}

/* ====================================================================================================== */
/* -------------------------- Styles for the table in "programming language" */
/* ====================================================================================================== */

.table-container {
  padding: 5em; /* Adds space around the table inside the container */
  /* text-align: center; Centers the table if it has margin: auto */
}

table {
  /* width: 50rem; */
  max-width: 100%;
  /* margin: 0 auto; */
  border-collapse: collapse;
  margin-top: 20px; /* Space above the table */
  margin-bottom: 20px; /* Space below the table */
  margin-left: auto; /* Centers the table horizontally */
  margin-right: auto; /* Centers the table horizontally */
}

/* table header */
.headers {
  border-bottom: 2px solid grey; /* Sets a solid grey line at the bottom */
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  background-color: rgba(142, 177, 199, 0.468);
}

/* make the border more round on the top of the sides for the headers */
/* Rounded corners for the first and last header cells */
.headers td:first-child {
  border-top-left-radius: 25px; /* Rounds the top-left corner */
}

.headers td:last-child {
  border-top-right-radius: 25px; /* Rounds the top-right corner */
}

/* for the first cells in each row */
.narrow {
  width: 5%;
}
/* for the second cells in each row */
.wide {
  width: 40%;
}

/* remove defult horizontal lines on each row */
tr {
  border: 2px solid rgba(0, 0, 0, 0); /* Black border for table rows */
}

.icon {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  margin-right: 5px;
}

.mini_icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
  /* position: relative;
  top: 2px;  */
}

/* set a thick grey vertical line between python and R */
.wide.item.main {
  border-right: 2px solid grey; /* Sets a solid grey line at the bottom */
}
/* hover effect */
.table-container .wide:hover {
  background-color: rgba(245, 245, 245, 0.85);
  cursor: default;
}

/* ====================================================================================================== */
/* -------------------------- Styles for tools section cards
/* ====================================================================================================== */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 1rem; /* Space between cards */
  max-width: 100%; /* Maximum width for the grid container */
  width: 100%;
  padding: 20px;
  /* margin-left: 1rem; */
  margin-left: auto; /* Centers the table horizontally */
  margin-right: auto; /* Centers the table horizontally */
}

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}

.card-title {
  color: black;
  padding: 10px;
  display: flex;
  font-weight: bold;
  margin-bottom: 0; /* Ensure no margin below the title */
  justify-content: center;
}

/* move the title text a bit down */
.card-title span {
  margin-top: 5px;
}

.card-title .icon {
  margin-right: 10px;
  width: 24px; /* Adjust icon size as needed */
  height: auto;
  text-align: center;
}

.card-content {
  padding: 10px;
  margin-top: 0; /* Remove any extra space above the content */
}

.card-content p {
  margin: 0 0 10px; /* Space between sentences */
}

.card-content .card_string {
  width: 85%; /* Set the width to 50% of the page */
  margin-left: 35px; /* Center horizontally */
}

.card-container .icon {
  width: 35px;
  height: 35px;
}

/* coloring the cards */
.card-container .card:nth-child(1) {
  background-color: rgba(224, 143, 143, 0.15);
}
.card-container .card:nth-child(1) .card-title {
  background-color: rgba(224, 143, 143, 0.2);
}
.card-container .card:nth-child(1):hover {
  background-color: rgba(224, 143, 143, 0.25);
  cursor: default;
}

.card-container .card:nth-child(2) {
  background-color: rgba(255, 217, 0, 0.15);
}
.card-container .card:nth-child(2) .card-title {
  background-color: rgba(255, 217, 0, 0.2);
}
.card-container .card:nth-child(2):hover {
  background-color: rgba(255, 217, 0, 0.25);
  cursor: default;
}

.card-container .card:nth-child(3) {
  background-color: rgba(152, 251, 152, 0.15);
}
.card-container .card:nth-child(3) .card-title {
  background-color: rgba(152, 251, 152, 0.2);
}
.card-container .card:nth-child(3):hover {
  background-color: rgba(152, 251, 152, 0.25);
  cursor: default;
}

.card-container .card:nth-child(4) {
  background-color: rgba(173, 216, 230, 0.15);
}
.card-container .card:nth-child(4) .card-title {
  background-color: rgba(173, 216, 230, 0.2);
}
.card-container .card:nth-child(4):hover {
  background-color: rgba(173, 216, 230, 0.25);
  cursor: default;
}

.card-container .card:nth-child(5) {
  background-color: rgba(221, 160, 221, 0.15);
}
.card-container .card:nth-child(5) .card-title {
  background-color: rgba(221, 160, 221, 0.2);
}
.card-container .card:nth-child(5):hover {
  background-color: rgba(221, 160, 221, 0.25);
  cursor: default;
}

.card-container .card:nth-child(6) {
  background-color: rgba(255, 87, 51, 0.15);
}
.card-container .card:nth-child(6) .card-title {
  background-color: rgba(255, 87, 51, 0.2);
}
.card-container .card:nth-child(6):hover {
  background-color: rgba(255, 87, 51, 0.25);
  cursor: default;
}

/* # the titles of inside cards i.e. data and tools */
.card .category {
  text-align: center;
  font-weight: bolder;
  border-bottom: 2px solid rgba(192, 192, 192, 0.52);
  max-width: 85%;

  margin: 0 auto 10px auto; /* Center horizontally and remove top margin */
}

/* ---------------------------------------------styling hyperlinks */
/* a {
  color: darkred;
}
a:hover {
  color: rgba(145, 16, 16, 0.671);
} */
.content a {
  color: rgb(68, 106, 190);
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.content a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 1px;
  background: rgb(32, 68, 144);
  transition: all 0.45s;
}

.content a:hover::after {
  width: 100%;
  left: 0;
}

.content a:hover {
  color: rgb(106, 137, 203);
}
/*------------------------------------------------------------------ */

.stack {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
}

/* Remove the link style in the table programming languages and theri fucntions */
.table-container a {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Inherit the color from the parent element */
}
